@charset "utf-8";

@import url(common.css);
/* 모바일--------- */
.content{padding: 20px;
background: #FFF;}

/* row-1 */
.content .gallery-list li{margin-bottom: 20px;}
.content .gallery-list li a img{
  width: 100%; max-width: 100%;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: all 0.3s;}
.content .gallery-list li a:hover img{filter: grayscale(0);}

/* row-2 */
.row-2{display: flex; justify-content: space-between;
margin-bottom: 30px;}

.select-box{display: none;}
/* 검색어 */
.search-box{}
.search-box form input{
  width: 120px; height: 30px;
  font-size: 0.813em;
  padding-left: 5px;
}
/* 글쓰기 */
.write-box{}
.write-box a{display: block;
width: 70px; height: 30px; background: #e65d5d;
font-size: 0.813em; text-align: center; line-height: 30px;}

/* row-3 */
.row-3{display: flex; justify-content: center;}
.row-3 span{width: 28px; height: 28px; text-indent: -9999px;}
.row-3 .prev-btn{background: #2ecc71 url(/images/s_images/list_prev_btn.png) no-repeat center;cursor: pointer; margin-right: 7px;}
.row-3 .next-btn{background: #2ecc71 url(/images/s_images/list_next_btn.png) no-repeat center;
cursor: pointer; margin-left: 7px;}

.row-3 a{display: block; color: #219af7;
border: 1px solid #219af7; width: 25px; height: 25px;
text-align: center; line-height: 25px; font-size: 0.813em;
margin: auto 3px; transition: all 0.3s;
}
.row-3 a:hover{background: #219af7; color: #FFF;}









/* 태블릿--------- */
@media all and (min-width :768px){
  
/* tab-content 영역 */
.content{
  padding: 40px;
}
/* tab-row1 갤러리영역 */
.content .gallery-list{display: flex;
flex-wrap: wrap; /*여러줄만들기*/
justify-content: space-between;}
.content .gallery-list li{width: 48%;}
.search-box .select-box{display: inline-block;
position: relative;} /*옆으로보이게*/
.search-box .select-box span{background: #e65d5d;
display: block; width: 80px; height: 30px;
font-size: 0.813em;
text-align: center;
line-height: 30px;
color: #FFF;
cursor: pointer;}
.search-box .select-box .select-list{
  background: #e65d5d; width: 80px;
  font-size: 0.813em;
text-align: center;
color: #FFF;
cursor: pointer;
padding: 4px 0;
position: absolute; top: 35px;
display: none;
}
.search-box .select-box .select-list li{
  padding:5px 0;
}
.search-box .select-box:hover ul.select-list{display: block;}
}

















/* 피씨--------- */
@media all and (min-width :960px){
  .content .gallery-list li{
    width: 23%;
  }
}
