@charset "utf-8";

/* 모바일---------------------------- */
body{}
#wrap{width: 80%;max-width: 960px;
margin: 0 auto;
display: flex; flex-flow: column nowrap;
}

/* mo-인포메이션 영역 */
.info{
  order: 1;
  width: 100%;
  background-color: #2ecc71;
  border-bottom: 1px solid #39d67c;
}
.info .info-list{display: flex;}
.info .info-list li{width: 25%; text-align: center;}
.info .info-list li a{display: block;
padding: 15px 0;}
/* .info .info-list li a img{} */

/* mo-헤더 영역 */
header{order: 2; width: 100%; display: flex;
  flex-direction: column;
  background-color: #2ecc71; position: relative;
z-index: 10;}


header h1{background-color: #2ecc71; text-align: center; text-transform: uppercase;
  line-height: 1.5; text-shadow: 0 1px 1px #25ab5e;
padding: 30px 0; width: 100%;}

/* header h1 a{} */

/* header nav{} */
header nav .gnb{display: none;}
header nav .gnb li{
  display: flex; width: 100%; background-color: #2c3e50;
}
header nav .gnb li a{width: 80%; text-indent: 20px;
font-weight: bold;font-size: 0.938em;
padding: 20px 0;}
header nav .gnb li .sub-menu-toggle{width: 20%;
text-indent: -9999px;
background: url(../images/s_images/sub_menu_toggle_btn.png)no-repeat center; cursor: pointer;}

header .menu-toggle-btn{
  display: block; width: 30px; height: 30px; background: url(../images/s_images/menu_toggle_btn.png);
  text-indent: -9999px;
  position: absolute;
  top: 10px; right: 20px;
  cursor: pointer;
}

/* mo-slide */
.slide{order: 3; width: 100%; height: 300px;
background: url(../images/p_images/slider_01.jpg) no-repeat center; display: flex;
justify-content: space-between; align-items: center;}
.slide span{text-indent: -9999px;
width: 34px; height: 39px; background: url(../images/s_images/slider_arrow.png) no-repeat;}
.slide .preview-btn{margin-left: -10px;}
.slide .next-btn{background-position: -34px 0;
margin-right: -10px;}

/* mo-최근글&인기글 */
.latest{order: 4;
background-color: #ffc40f;}

.popular{order: 5;
background-color: #a660c2;}
.latest, .popular{padding: 40px 12.5%;}

.title{text-align: center; color: #FFF; font-size: 1.25em; margin-bottom: 30px}
.latest .title,
.latest .list li a{text-shadow: 0 1px 1px #b98e0b;}
.popular .title,
.popular .list li a{text-shadow: 0 1px 1px #633476;}

/* .list{} */
.list li{
  background: url(../images/s_images/post_circle_icon.png) no-repeat left center;
  padding-left: 12px;
  margin-bottom: 15px;
}
.list li a{text-transform: uppercase;}

/* mo-갤러리 */
.gallery{order: 6;padding: 50px 12.5%;
background: #e65d5d;
text-align: center;}
.gallery .gallery-list{}
.gallery .gallery-list li:first-child{margin-bottom: 15px;}
/* .gallery .gallery-list li a{}
.gallery .gallery-list li a figure{} */
.gallery .gallery-list li a figure img{
  width: 100%; max-width: 100%;
  border-radius: 10px; box-shadow: 0 1px 2px #b23f3f;
}
.gallery .gallery-list li a figure figcaption{margin-top: 10px; font-size: 1.25em; font-weight: bold;}

/* mo-인기 검색어 */
.rankup{order: 7; padding: 40px 12.5%;background-color: #219af7;}
.rankup h2{text-align: center; color: #FFF;
font-size: 1.25em; text-shadow: 0 1px 1px #176098;}
.rankup .rankup-list{display: flex; flex-wrap: wrap;
justify-content: space-between;}
.rankup .rankup-list li{width: 45%; margin-top: 15px;
}
.rankup .rankup-list li a{text-align: center;
display: block; padding: 10px 0; border: 1px solid #fff; font-weight: bold;
border-radius: 5px; text-shadow: 0 1px 1px #176098;}

/* mo-배너 */
.banner{order: 8; }
.banner div{padding: 30px 12.5%;
text-align: center;}
.banner .banner1{background: #e6567a;}
/* .banner .banner1 a{}
.banner .banner1 a img{} */
.banner .banner2{background-color: #c44968;}
.banner .banner2 .banner-list{
  display: flex; justify-content: space-between;
}
/* .banner .banner2 .banner-list li{}
.banner .banner2 .banner-list li a{}
.banner .banner2 .banner-list li a img{} */

/* mo-소셜네트워크 */
.social{order: 9; background-color: #FFF; padding: 30px 12.5%;}
.social ul{display: flex; justify-content: space-between;}

/* mo-footer */
footer{order: 10; background-color: #474747;
padding: 20px 12.5%; width: 100%;}
footer p{text-align: center; text-transform: uppercase; font-size: 0.625em; color: #FFF;}



/* 태블릿---------------------------- */
@media all and (min-width : 768px){
  /* body{background-color: rosybrown;} */

/* 가로방향 여러줄 */
#wrap{flex-flow: row wrap;}

/* 인포메이션 바뀌는거 없어서 생략 */

/* tab-헤더 */
header h1{ width: 15.625%;
  position: absolute;
  top: 0; left: 0;
  padding: 0; z-index: 10;
}
header h1 a{padding: 30px 0;
display: block;}

header nav{background-color: #2ecc71;
min-height: 70px;}
header nav .gnb{ position: absolute; right: 0; top: 100%;
width: 40.364583333333%;}

header .menu-toggle-btn{top: 30%;
z-index: 20;}

/* tab-slide */
.slide{order: 3; width: 59.89583333333%; height: auto;
}
.slide span{position: relative;
z-index: 5;}
/* tab-rankup */
.rankup{order: 4; width: 40.1041666666667%;
padding: 40px 3%;}
/* tab-최근글&인기글 */
.latest{order: 5;}
.popular{order: 6;}
.latest, .popular{width: 41.6666666667%;
padding: 40px 2%;}

/* tab-소셜네트워크 */
.social{order: 7; width: 16.66666666666667%;
padding: 0; text-align: center;
display: flex; align-items: center; 
justify-content: center;}
.social ul{flex-direction: column;
}
.social ul li:nth-child(2){margin: 24px 0;}

/* tab-갤러리 */
.gallery{order: 8;
  width: 71.3541666667%;padding: 40px 5%;
}
.gallery .gallery-list{display: flex;
justify-content: space-between; margin-top: 15px;}
.gallery .gallery-list li:first-child{margin-bottom: 0;}
.gallery .gallery-list li{width: 48%;}

.banner{width: 28.6458333333333%;}
.banner div{padding: 40px 5%;}

footer{font-size: 0.813em;}

}/*end*/

/* 피씨------------------------------ */
@media all and (min-width : 960px){
  /* body{background-color: skyblue;} */
  #wrap{width: 90%;position: relative;}
  .info{position: absolute; top: 30px; right: 30px; z-index: 15;  width: auto; border-bottom: none;}
  .info .info-list li{margin-left: 15px;}
  .info .info-list li a{padding: 0;}


/* pc-헤더 */
header{order: 1; flex-direction: row; justify-content: flex-end;}
header h1{width: 12.5%;}
header nav{width: 87.5%;}
header nav .gnb{display: flex; width: 100%;
position: static; margin-top: 25px;
margin-left: 20px;}
header nav .gnb li{width: auto;
  background: none; margin-right: 50px;}
header nav .gnb li a{width:auto; padding: 0;
text-indent: 0;}
header nav .gnb li .sub-menu-toggle, 
header .menu-toggle-btn{display: none;}

.slide{order: 2;
width: 50%;}

.gallery{order: 3;
width: 27.083333333333%;}
.gallery .gallery-list{flex-wrap: wrap;}
.gallery .gallery-list li{width: 100%;}
.gallery .gallery-list li:first-child{margin-bottom: 60px;}

.rankup{order: 4;
width: 22.916666666666667%;}
.rankup .rankup-list{width: 65%;
  margin: 10px auto;
}
.rankup .rankup-list li{width: 100%;
  counter-increment: rankup-counter;
}
.rankup .rankup-list li::before{
  content: counter(rankup-counter) '.';
  color: #FFF; font-weight: bold; padding-right: 5px;
}
.rankup .rankup-list li a{border: 0;
text-align:left; display: inline;}

.latest, .popular{width:30%;}
.latest{order: 5;}
.popular{order: 6;}
.banner{order: 7; width: 22.91666666667%; display: flex;
  flex-flow: row wrap;}
.social{order: 8;width:17.083333333333%;
}
.banner div{flex: 1 1 0;}

footer{order: 9; padding: 0;}
footer p{ text-align: left;
padding:10px 5%;}


}/*end*/