@charset "utf-8";



/* 모바일 */
/* body{background-color: antiquewhite;} */
#wrap{width: 80%; max-width: 960px;
margin: 0 auto; flex-flow: column nowrap;}
/* 모바일 인포메이션 영역 */
.info{order: 1; width: 100%; background: #2ecc71;
border-bottom: 1px solid #39d67C;}
.info .info-list{display: flex;}
.info .info-list li{width: 25%; text-align: center;}
.info .info-list li a{display: block;
padding: 15px 0;}
/* 모바일 헤더 영역 */
header{order: 2; width: 100%; display: flex;
flex-direction: column; background-color: #2ecc71;
position: relative;}
header h1{background: #2ecc71; text-transform: uppercase;
line-height: 1.5; text-align: center; text-shadow: 0 1px 1px #25ab5e; width: 100%; padding: 30px 0;} 
/* header h1 a{}
header nav{} */
header nav .gnb{display: none;}
header nav .gnb li{
  display: flex;
  width: 100%; background: #2c3e50;
}
header nav .gnb li a{width: 80%;
text-indent:  20px; font-weight: bold; font-size: 0.938em;
padding: 20px 0;}
header nav .gnb li .sub-menu-toggle{width: 20%;
text-indent: -9999px; background: url(/images/s_images/sub_menu_toggle_btn.png) no-repeat center; cursor: pointer;}

header .menu-toggle-btn{display: block; width: 30px; height: 30px; background: url(/images/s_images/menu_toggle_btn.png) no-repeat center; position: absolute; top: 10px; right: 20px;
  cursor: pointer; text-indent: -9999px;
}
.sub-title{order: 3;
padding: 45px 0; text-align: center;
background: #219af7;
}
.sub-title h2{color: #FFF; font-size: 1.25em;
font-weight: bold;border-bottom: 12px;} /*20px*/
.sub-title .sub-list{
  display: flex; justify-content: center;
}
.sub-title .sub-list li{}
.sub-title .sub-list li a{
  font-size: 0.813em; font-weight: bold;
}
.content{order: 4;
padding: 20px;
background: #fff;}

.content > div{margin-top: 60px; text-align: center;}
.content > div:first-child{margin-top: 0;}
.content .row-1{}
.content .row-1 img{width: 100%; max-width: 100%;}
.content .row-1 h3{
  margin: 25px 0;
  font-size: 1.25em;/*20px*/
}
.content .row-1 p{
  color: #444; font-size: 0.875em;
  line-height: 1.5; text-align: justify;
}

.content .row-2{}
.content .row-2 article{margin-bottom: 40px;}
.content .row-2 article img{max-width: 100%;}
.content .row-2 article h4{
  margin: 25px 0;
  font-size: 1.063em;
}
.content .row-2 article p{
  color: #444; font-size: 0.875em;
  line-height: 1.5; text-align: justify;
}

/* .content .row-3{} */
.content .row-3 h4{margin: 25px 0;
  font-size: 1.063em; text-align: left;
border-bottom: 2px solid #25ab5e;
padding-bottom: 8px;}
/* .content .row-3 .para{} */
.content .row-3 .para p{  color: #444; font-size: 0.875em;
  line-height: 1.5; text-align: justify; margin-bottom: 20px;}

footer{order: 5; background-color: #474747;
padding: 20px 12.5%; width: 100%;}

footer p{text-align: center; text-transform: uppercase; font-size: 0.625em; color: #FFF;}


















/* 태블릿 */
@media all and (min-width : 768px){
  /* body{background-color: coral;} */

header{flex-direction: row;}
header h1{position: absolute; top: 0; left: 0; width: 15.625%;}
header nav{background: #2ecc71;
width: 100%; min-height: 80px;}
header nav .gnb{display: block; width: 40.36458333333333%;
position: absolute; top: 100%; right: 0;}
}/* end */

.content{padding: 40px;}
footer p{font-size: 0.813em;
padding: 20px 5%;}



















/* 피씨 */
@media all and (min-width : 960px){
  /* body{background-color: lime;} */
#wrap{width: 90%; position: relative;}

/* 피씨 인포메이션 */
.info{position: absolute; top: 30px;
right: 30px; z-index: 30;
width: auto; border-bottom: none;}
.info .info-list li a{padding: 0;}
.info .info-list li{margin-left: 15px;}
/* 피씨 헤더영역 */
header{justify-content: flex-end;}
header h1{width: 12.5%;}
header nav{width: 87.5%;}
header nav .gnb{display: flex;
width: 100%; position: static; margin-top: 25px; margin-left: 50px;}
header nav .gnb li{background: none;
width: auto; margin-right: 50px;}
header nav .gnb li a{width: auto; padding: 0;
text-indent: 0;}
header nav .gnb li .sub-menu-toggle, 
header .menu-toggle-btn{display: none;}

/* row */
.row-2{display: flex; justify-content: space-between;}
.row-2 article{width: 30%;
}
.row-3 .para{display: flex;
justify-content: space-between;}
.row-3 .para p{width: 48%;}

footer{order: 9; padding: 0;}
footer p{ text-align: left;
padding:10px 5%;}

}/* end */

